{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous Message</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<body>
    <nav class="nav">
        <h3><a href="/"><span class="ng">NG</span>-anonymous
        </a></h3>
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/how-it-works">process</a>
            </li>
        </ul>
    </nav>
    <div class="body">
        {% block main %}
            
        {% endblock main %}
            
    </div>
    <footer>
        <p>Created and maintain by JTech</p>
        <ul>
            <h4>
                Features
            </h4>
            <li>
                secure
            </li>
            <li>free</li>

        </ul>

        <span>Proudly made in Nigeria <font color='red'>&hearts;</font></span>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>